@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Tenor Sans', sans-serif;
    overflow-x: visible;
    text-transform: capitalize;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: space-between;
}

.logo p {
    padding: 9px;
    font-size: 22px;
    font-weight: 400;
    background-color: #206b4f;
    color: #ebd0cf;
}

.header-text {
    display: flex;
}

.header-text ul li {
    display: inline-block;
    padding: 25px 25px;
}

.header-text ul li a {
    font-size: 22px;
    font-weight: 400;
    color: #206b4f;
}

.header-text ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #206b4f;
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: 3px;
}

.header-text ul li a:hover::after {
    width: 100%;
}

.icon ul li {
    display: inline-block;
    /* padding: 0 10px; */
}

.icon ul li a {
    color: #206b4f;
}

.line {
    height: 2px;
    background-color: #206b4f;
}

.color {
    /* height: 200px; */
    background: linear-gradient(180deg, #ebd0cf 63%, #4a7163 63%);
}

.ppp {
    padding: 100px 0;
}

.col-30 {
    width: 40%;
}

.col-70 {
    width: 60%;
}

.img img {
    border-radius: 0 70% 0 0;
    /* width: 100%; */
}

.header-text2 h1 {
    font-size: 89px;
    line-height: 93px;
    color: #206b4f;
    font-weight: 400;
    padding: 30px 0;
}

.header-text2 p {
    font-size: 28px;
    color: #206b4f;
    font-weight: 400;
}

.header-text2 h1+p {
    width: 80%;
    color: #ebd0cf;
    font-size: 18px;
    padding: 30px 0;
}

.header-text2 button {
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 8px 40px;
    background-color: #ebd0cf;
    color: #206b4f;
}


/* ------------section 1--------- */

.se1-color {
    background-color: #ebd0cf;
}

.se1-hedging {
    color: #206b4f;
    padding: 40px 0;
    text-align: center;
}

.se1-hedging p {
    font-size: 24px;
}

.se1-hedging h4 {
    font-weight: 400;
    font-size: 54px;
}

.se1-img-text {
    padding: 40px 0;
}

.se1-img-text img {
    width: 100%;
}

.se1-img-text p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #206b4f;
    padding: 20px 0;
}

.col-33 {
    width: 30%;
    margin: 0 auto;
}

.dote {
    padding: 50px 0;
    text-align: center;
}

.dote ul li {
    color: #4a7163;
    display: inline-block;
    padding: 0 20px;
}


/* ------------section 2--------- */

.se2 {
    background: linear-gradient(270deg, #ebd0cf 27%, #4a7163 27%);
}

.se2-color {
    width: 100%;
    padding: 100px 0;
    background: linear-gradient(270deg, #ebd0cf 27%, #4a7163 27%);
}

.col-50 {
    width: 50%;
}

.se2-img {
    text-align: end;
}

.se2-img img {
    border-radius: 0 50% 0 0;
    width: 100%;
    /* margin: 0 auto; */
}

.se2-text {
    color: #ebd0cf;
    width: 80%;
    /* margin: 0 auto; */
}

.se2-text h4 {
    font-size: 24px;
    font-weight: 300;
}

.se2-text h2 {
    font-size: 70px;
    font-weight: 300;
}

.se2-text p {
    font-size: 18px;
    padding: 20px 0;
}

.se2-text button {
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 8px 40px;
    background-color: #ebd0cf;
    color: #206b4f;
}


/* ------------section 3--------- */

.se3-color {
    background-color: #ebd0cf;
}

.se3-img img {
    width: 100%;
}

.se3-text {
    width: 80%;
    margin: 0 auto;
    color: #206b4f;
}

.se3-text h4 {
    font-size: 90px;
    line-height: 93px;
    font-weight: 400;
}

.se3-text p {
    padding: 20px 0;
}

.se3-text button {
    border: 5px solid #206b4f;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 8px 40px;
    background-color: #ebd0cf;
    color: #206b4f;
}


/* ------------section 4--------- */

.se4-bg-color {
    margin-top: -4px;
    padding: 80px 0;
    background-color: #206b4f;
}

.se4-hedging {
    text-align: center;
    color: #ebd0cf;
}

.se4-hedging h4 {
    font-size: 90px;
    line-height: 93px;
    font-weight: 400;
}

.se4-hedging p {
    font-size: 28px;
    font-weight: 400;
}

.se4-img-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #ebd0cf;
}

.se4-img-text h5 {
    padding: 20px 0;
}

.se4-img-text p {
    font-size: 17px;
}


/* ------------section 5--------- */

.se5-bg-color {
    padding: 80px 0;
    background-color: #ebd0cf;
}

.se5-hedging p {
    font-size: 90px;
    line-height: 93px;
    color: #206b4f;
    font-weight: 400;
    text-align: center;
}

.se5-img-text {
    color: #206b4f;
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.se5-img-text img {
    width: 100%;
}

.se5-img-text h4 {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 400;
}

.se5-btn {
    text-align: center;
}

.se5-btn button {
    margin: 20px 0;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 8px 40px;
    background-color: #206b4f;
    color: #ebd0cf;
}


/* ----------- footer --------- */

.foot-bg-color {
    background-color: #206b4f;
    padding: 80px 0;
    color: #ebd0cf;
}

.col-25 {
    width: 25%;
}

.foot-text1 {
    width: 90%;
    margin: 0 auto;
}

.foot-text1 p {
    font-size: 75px;
    line-height: 85px;
    font-weight: 400;
}

.foot-text1 ul li {
    display: inline-block;
    padding: 0 5px;
}

.foot-text1 ul li a {
    color: #ebd0cf;
}

.foot-text2 {
    width: 90%;
    margin: 0 auto;
}

.foot-text2 h4 {
    font-size: 25px;
    font-weight: 400;
    line-height: 66px;
}

.foot-text2 ul li a {
    color: #ebd0cf;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}

.Copyright p {
    font-size: 21px;
    font-weight: 400;
    padding: 50px 0;
}


/* ---------------- media queries ------------ */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    body {
        padding: 0;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .color {
        width: 100%;
    }
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .se1-img-text img {
        width: 50%;
    }
    .se2-img img {
        width: 50%;
    }
}